In [1]:
import pandas as pd

### - checking encoding of file

In [2]:
with open("../datasets/messy_IMDB_dataset.csv") as f:
    print(f)

<_io.TextIOWrapper name='../datasets/messy_IMDB_dataset.csv' mode='r' encoding='cp1252'>

### - changed encoding and seperator in which pandas read file

In [3]:
df = pd.read_csv("../datasets/messy_IMDB_dataset.csv", encoding="cp1252", sep=";")

### - for easy access in future storing csv in default format

In [4]:
df.to_csv("../datasets/messy_default_IMDB_dataset.csv")

### - loading from new file

In [5]:
df = pd.read_csv("../datasets/messy_default_IMDB_dataset.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      101 non-null    int64
 1   IMBD title ID   100 non-null    object
 2   Original titlÊ  100 non-null    object
 3   Release year    100 non-null    object
 4   Genrë¨          100 non-null    object
 5   Duration        99 non-null     object
 6   Country         100 non-null    object
 7   Content Rating  77 non-null     object
 8   Director        100 non-null    object
 9   Unnamed: 8      0 non-null      float64
 10  Income          100 non-null    object
 11   Votes          100 non-null    object
 12  Score           100 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 10.4+ KB

### - lower cased column names and removed special character from column name

In [7]:
df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_")

In [8]:
columns = list(df.columns)
columns[1] = "imdb_title_id"
columns[4] = 'genre'
df.columns = columns

In [9]:
df.drop(["unnamed:_0", "unnamed:_8"], axis=1, inplace=True)

### - check duplicates

In [10]:
df.duplicated().sum()

np.int64(0)

### - check null values

In [11]:
df.isnull().sum()

imdb_title_id      1
original_titlê     1
release_year       1
genre              1
duration           2
country            1
content_rating    24
director           1
income             1
votes              1
score              1
dtype: int64

### - drop rows containg null values because there are not fore than 4% of total data

In [12]:
df.dropna(how="all", inplace=True)

In [13]:
df.dropna(subset=["duration"], inplace=True)

In [14]:
df.dropna(subset=["content_rating"], inplace=True)

### - set "imdb_title_id" as index to dataframe

In [15]:
df.set_index("imdb_title_id", inplace=True)

In [16]:
df.to_csv("test.csv")