## 1. Missing Values

### Droping column

In [1]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [2]:
df = df.drop(columns=["Legendary", "No"])
print(df)

           Name    Type1   Type2  Height  Weight
0     Bulbasaur    Grass  Poison     0.7     6.9
1       Ivysaur    Grass  Poison     1.0    13.0
2      Venusaur    Grass  Poison     2.0   100.0
3    Charmander     Fire     NaN     0.6     8.5
4    Charmeleon     Fire     NaN     1.1    19.0
..          ...      ...     ...     ...     ...
145     Moltres     Fire  Flying     2.0    60.0
146     Dratini   Dragon     NaN     1.8     3.3
147   Dragonair   Dragon     NaN     4.0    16.5
148   Dragonite   Dragon  Flying     2.2   210.0
149      Mewtwo  Psychic     NaN     2.0   122.0

[150 rows x 5 columns]

In [3]:
print(df.isnull())
print(df.notnull())

      Name  Type1  Type2  Height  Weight
0    False  False  False   False   False
1    False  False  False   False   False
2    False  False  False   False   False
3    False  False   True   False   False
4    False  False   True   False   False
..     ...    ...    ...     ...     ...
145  False  False  False   False   False
146  False  False   True   False   False
147  False  False   True   False   False
148  False  False  False   False   False
149  False  False   True   False   False

[150 rows x 5 columns]
     Name  Type1  Type2  Height  Weight
0    True   True   True    True    True
1    True   True   True    True    True
2    True   True   True    True    True
3    True   True  False    True    True
4    True   True  False    True    True
..    ...    ...    ...     ...     ...
145  True   True   True    True    True
146  True   True  False    True    True
147  True   True  False    True    True
148  True   True   True    True    True
149  True   True  False    True    True

[150 rows x 5 columns]

In [4]:
print(df.isnull().sum())

Name       0
Type1      0
Type2     83
Height     0
Weight     0
dtype: int64

### Droping Null Values

In [5]:
df = df.dropna(subset=["Type2"])
print(df)
print(df.info())

           Name     Type1   Type2  Height  Weight
0     Bulbasaur     Grass  Poison     0.7     6.9
1       Ivysaur     Grass  Poison     1.0    13.0
2      Venusaur     Grass  Poison     2.0   100.0
5     Charizard      Fire  Flying     1.7    90.5
11   Butterfree       Bug  Flying     1.1    32.0
..          ...       ...     ...     ...     ...
141  Aerodactyl      Rock  Flying     1.8    59.0
143    Articuno       Ice  Flying     1.7    55.4
144      Zapdos  Electric  Flying     1.6    52.6
145     Moltres      Fire  Flying     2.0    60.0
148   Dragonite    Dragon  Flying     2.2   210.0

[67 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, 0 to 148
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    67 non-null     object
 1   Type1   67 non-null     object
 2   Type2   67 non-null     object
 3   Height  67 non-null     float64
 4   Weight  67 non-null     float64
dtypes: float64(2), object(3)
memory usage: 3.1+ KB
None

### Filling Null Values

In [6]:
df = pd.read_csv("pokemon_data.csv")

In [7]:
df = df.fillna({"Type2" : "None"})
print(df)
print(df.info())

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire    None     0.6     8.5          0
4      5  Charmeleon     Fire    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon    None     1.8     3.3          0
147  148   Dragonair   Dragon    None     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No         150 non-null    int64
 1   Name       150 non-null    object
 2   Type1      150 non-null    object
 3   Type2      150 non-null    object
 4   Height     150 non-null    float64
 5   Weight     150 non-null    float64
 6   Legendary  150 non-null    int64
dtypes: float64(2), int64(2), object(3)
memory usage: 8.3+ KB
None

In [8]:
df['Type1'] = df['Type1'].replace({"Grass" : "GRASS", "Fire" : "FIRE"})
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    GRASS  Poison     0.7     6.9          0
1      2     Ivysaur    GRASS  Poison     1.0    13.0          0
2      3    Venusaur    GRASS  Poison     2.0   100.0          0
3      4  Charmander     FIRE    None     0.6     8.5          0
4      5  Charmeleon     FIRE    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     FIRE  Flying     2.0    60.0          1
146  147     Dratini   Dragon    None     1.8     3.3          0
147  148   Dragonair   Dragon    None     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]

In [9]:
df["Name"] = df["Name"].str.lower()
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    GRASS  Poison     0.7     6.9          0
1      2     ivysaur    GRASS  Poison     1.0    13.0          0
2      3    venusaur    GRASS  Poison     2.0   100.0          0
3      4  charmander     FIRE    None     0.6     8.5          0
4      5  charmeleon     FIRE    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     FIRE  Flying     2.0    60.0          1
146  147     dratini   Dragon    None     1.8     3.3          0
147  148   dragonair   Dragon    None     4.0    16.5          0
148  149   dragonite   Dragon  Flying     2.2   210.0          0
149  150      mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]

### Duplicates

In [10]:
new_df = df.iloc[[0, 12, 22, 111, 123]]

df = pd.concat([df, new_df])
print(df)

      No        Name   Type1    Type2  Height  Weight  Legendary
0      1   bulbasaur   GRASS   Poison     0.7     6.9          0
1      2     ivysaur   GRASS   Poison     1.0    13.0          0
2      3    venusaur   GRASS   Poison     2.0   100.0          0
3      4  charmander    FIRE     None     0.6     8.5          0
4      5  charmeleon    FIRE     None     1.1    19.0          0
..   ...         ...     ...      ...     ...     ...        ...
0      1   bulbasaur   GRASS   Poison     0.7     6.9          0
12    13      weedle     Bug   Poison     0.3     3.2          0
22    23       ekans  Poison     None     2.0     6.9          0
111  112      rhydon  Ground     Rock     1.9   120.0          0
123  124        jynx     Ice  Psychic     1.4    40.6          0

[155 rows x 7 columns]

In [11]:
print(df.duplicated())
print(" ")
print(df.duplicated().describe())

0      False
1      False
2      False
3      False
4      False
       ...
0       True
12      True
22      True
111     True
123     True
Length: 155, dtype: bool

count       155
unique        2
top       False
freq        150
dtype: object

In [12]:
df = df.drop_duplicates() # Removes Duplicat Rows / Data
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    GRASS  Poison     0.7     6.9          0
1      2     ivysaur    GRASS  Poison     1.0    13.0          0
2      3    venusaur    GRASS  Poison     2.0   100.0          0
3      4  charmander     FIRE    None     0.6     8.5          0
4      5  charmeleon     FIRE    None     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     FIRE  Flying     2.0    60.0          1
146  147     dratini   Dragon    None     1.8     3.3          0
147  148   dragonair   Dragon    None     4.0    16.5          0
148  149   dragonite   Dragon  Flying     2.2   210.0          0
149  150      mewtwo  Psychic    None     2.0   122.0          1

[150 rows x 7 columns]

### astype

In [13]:
df["Legendary"] = df["Legendary"].astype(bool)
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    GRASS  Poison     0.7     6.9      False
1      2     ivysaur    GRASS  Poison     1.0    13.0      False
2      3    venusaur    GRASS  Poison     2.0   100.0      False
3      4  charmander     FIRE    None     0.6     8.5      False
4      5  charmeleon     FIRE    None     1.1    19.0      False
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     FIRE  Flying     2.0    60.0       True
146  147     dratini   Dragon    None     1.8     3.3      False
147  148   dragonair   Dragon    None     4.0    16.5      False
148  149   dragonite   Dragon  Flying     2.2   210.0      False
149  150      mewtwo  Psychic    None     2.0   122.0       True

[150 rows x 7 columns]